*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

section {
  margin: 1.5rem 0;
  width: 90vw;
  max-width: 90rem;
  min-width: 70rem;
  margin-inline: auto;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notes {
  grid-template-columns: 19% 12.5% 12.5% 27% 10% 14%;
}

.summary {
  grid-template-columns: 40% 20% 40%;
}

.table-header {
  background-color: rgb(142, 142, 142);
  border-radius: 0.3rem;
  padding: 0 2rem 0 3rem;
  gap: 2%;
  align-content: center;
  justify-content: space-between;
  display: grid;
  height: 3.5rem;
}

.header-item {
  text-align: left;
  font-weight: 700;
  color: #f4f4f4;
  display: flex;
  align-items: center;
}

.entry {
  gap: 2%;
  align-items: center;
  justify-content: space-between;
  display: grid;
  height: 3.5rem;
  padding: 0 2rem 0 3rem;
  color: #696969;
  background-color: #f9f9f9;
}

.entry div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entry__name {
  font-weight: 700;
  color: #3f3f3f;
}

.entry__buttons {
  display: flex;
  align-items: center;
  gap: 2%;
}

.entry__buttons button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  color: #696969;
  fill: currentColor;
  cursor: pointer;
}

.add-note__container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: right;
  height: 5rem;
  align-items: center;
}

.button-container button {
  padding: 1rem 3rem;
  background-color: rgb(142, 142, 142);
  border-radius: 0.3rem;
  font-weight: 700;
  color: #f4f4f4;

  cursor: pointer;
}

.button-container button:hover {
  box-shadow: 1px 1px 1px #5e5e5e;
}

.header__button {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  color: white;
  fill: currentColor;
  cursor: pointer;
}

.header__button:hover {
  color: #f3f3f3;
}

form {
  width: 100%;
  display: grid;
  gap: 2%;
  align-content: center;
  grid-template-columns: 33% 13% 39% 14%;
  height: 3.5rem;
  padding: 0 2rem 0 3rem;
  background-color: #f9f9f9;
}

form input,
select {
  display: flex;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: #696969;
}

form input .entry__name {
  font-weight: 700;
  color: #3f3f3f;
}
